'scopeName': 'source.cmp'
'name': 'cmp'
'fileTypes': [
  'cmp'
]
'patterns': [
  {
    'match': '\\s*//.*$'
    'name': 'comment.hdl'
  }
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.hdl'
  }
  {
    'match': '^\\s*@\\(?[0-9a-zA-Z]+\\)?\\b'
    'name': 'storage.modifier.hdl'
  }
  {
    'match': '\\s*(\\.)*\\[?[0-9]+(\\.)*\\]?\\s+|;\\s*'
    'name': 'constant.language.hdl'
  }
  {
    'match': '^\\s*@(R[0-9]+|SCREEN|KBD)\\b'
    'name': 'storage.modifier.hdl'
  }
  {
    'match': '\\b\\s+(IN)|(OUT)|(PARTS)|(load)|(output-file)|(compare-to)|(output-list)|(output)|(set)\\s+\\b'
    'name': 'keyword.control.hdl'
  }
  {
    'match': '\\b(\\&|\\||\\=)\\b'
    'name': 'keyword.operator.hdl'
  }
  {
    'match': '(\\s+|(\\+|\\-))([ADM]+)(\\s+|(\\;|\\+|\\-))'
    'name': 'entity.name.function.hdl'
  }
  {
    'match': '(\\s+|\\;?)((JMP)|(JLT)|(JGT)|(JEQ)|(JNE))\\s*'
    'name': 'entity.name.function.hdl'
  }
  {
    'match': '\\s*\\([a-zA-Z]+\\)\\s*'
    'name': 'entity.name.function.hdl'
  }
  {
    'match': '^\\s*CHIP\\s+[a-zA-Z]+'
    'name': 'storage.type.hdl'
  }
  {
    'match': '\\b(f|m)[A-Z]\\w*\\b'
    'name': 'variable.hdl'
  }
  {
    'begin': '''(?x)
      (?:
        ^ |                  # beginning of line
        (?:(?<!else|if|=))  # or word + space before name
      )
      ([A-Za-z_][A-Za-z0-9_]*) # actual name
      \\s*(\\()              # opening bracket
    '''
    'beginCaptures':
      '1':
        'name': 'entity.name.function.hdl'
      '2':
        'name': 'punctuation.definition.parameters.begin.hdl'
    'end': '\\)'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.parameters.end.hdl'
    'name': 'meta.function.destructor.hdl'
    'patterns': [
      {
        'include': '$base'
      }
    ]
  }
]

folds: [
    type: ['comment', 'preproc_arg']
]

scopes:
    'comment': 'comment.block'
