'scopeName': 'source.tst'
'name': 'tst'
'fileTypes': [
  'tst'
]
'patterns': [
  {
    'match': '\\s*//.*$'
    'name': 'comment.tst'
  }
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.tst'
  }

  {
    'match': '(^\\s*[a-zA-Z\\-0-9]+)((?=;)|(?=,)|(?=(\\s)))'
    'name': 'keyword.control.tst'
  }
  {
    'match': '(?<=(\\s))[a-zA-Z0-9\\-]+\\.[a-z]*?(?=,)'
    'name': 'constant.tst'
  }
  {
    'match': '(?<=(\\s))[a-zA-Z0-9\\[\\]]+%[\\.0-9A-Za-z]+?((?=\\s)|(?=;))'
    'name': 'function.keyword.tst'
  }
  {
    'match': '((?<=\\-)|(?<=\\s)|(?<=(%[A-Za-z])))([0-9]+)((?=(\\s*,))|(?=(\\s*\\{))|(?=(\\s*;)))'
    'name': 'constant.tst'
  }
  {
    'match': '%[A-Za-z]'
    'name': 'string.tst'
  }
  {
    'match': '(?<=")((.|\\s)*)(?=")'
    'name': 'string.tst'
  }
]

folds: [
    type: ['comment', 'preproc_arg']
]

scopes:
    'comment': 'comment.block'
